In [27]:
D1={1:'Sneha',2:'Shivang'}
D1

{1: 'Sneha', 2: 'Shivang'}

In [28]:
D2={1:'Sneha',2:'Shivang',3:'Raj',4:'Riddhi',5:'Ram',3:'Sita','4':'Ramesh'}
print(D2)
print(D2.get(2))

{1: 'Sneha', 2: 'Shivang', 3: 'Sita', 4: 'Riddhi', 5: 'Ram', '4': 'Ramesh'}
Shivang

In [29]:
#Adding and updating the key-value pairs

In [30]:
print(D2)
D2[6]='Sneha'
print(D2)
del D2[6]
print(D2)

{1: 'Sneha', 2: 'Shivang', 3: 'Sita', 4: 'Riddhi', 5: 'Ram', '4': 'Ramesh'}
{1: 'Sneha', 2: 'Shivang', 3: 'Sita', 4: 'Riddhi', 5: 'Ram', '4': 'Ramesh', 6: 'Sneha'}
{1: 'Sneha', 2: 'Shivang', 3: 'Sita', 4: 'Riddhi', 5: 'Ram', '4': 'Ramesh'}

In [31]:
#Clearing the dictionary
print(D2)
D2.clear()
print(D2)

{1: 'Sneha', 2: 'Shivang', 3: 'Sita', 4: 'Riddhi', 5: 'Ram', '4': 'Ramesh'}
{}

In [34]:
#iterating through the Dictionary
print(D1)
print(D1.keys())
print(D1.values())

{1: 'Sneha', 2: 'Shivang'}
dict_keys([1, 2])
dict_values(['Sneha', 'Shivang'])

In [35]:
for k in D1.keys():
    print(k,D1[k])

1 Sneha
2 Shivang

In [36]:
print(D1.items())

dict_items([(1, 'Sneha'), (2, 'Shivang')])

In [38]:
for k,v in D1.items():
    print(k,v)

1 Sneha
2 Shivang

In [39]:
#Checking if key is present 
print(D1)

{1: 'Sneha', 2: 'Shivang'}

In [45]:
print(1 in D1)
print('1' in D1)

True
False

In [46]:
#Merging the Dictionaries

In [52]:
d1={1:'A',2:'B',3:'C'}
d2={1:'a',2:'b',3:'c'}
print(d1)
print(d2)

{1: 'A', 2: 'B', 3: 'C'}
{1: 'a', 2: 'b', 3: 'c'}

In [54]:
d1.update(d2)
print(d1)
print(d2)

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}

# Multi-Dimensional Dictionary

In [117]:
dd={1:{2:'Sneha',3:'Shivang'}}
dd

{1: {2: 'Sneha', 3: 'Shivang'}}

In [118]:
print(len(dd))

1

In [119]:
#Accessing the elements

In [120]:
d1={1:{'name':'Sneha','phone':'9569773306'},
    2:{'name':'Shivang','phone':'8115014333'},
    3:{'name':'Shiva','phone':'8115014333'}}
print(d1)

{1: {'name': 'Sneha', 'phone': '9569773306'}, 2: {'name': 'Shivang', 'phone': '8115014333'}, 3: {'name': 'Shiva', 'phone': '8115014333'}}

In [121]:
print(d1[1])

{'name': 'Sneha', 'phone': '9569773306'}

In [122]:
print(d1[1]['name'])

Sneha

In [123]:
#Adding,Updating and Deleting 
print(d1)

{1: {'name': 'Sneha', 'phone': '9569773306'}, 2: {'name': 'Shivang', 'phone': '8115014333'}, 3: {'name': 'Shiva', 'phone': '8115014333'}}

In [124]:
#Updating
d1[3]['name']='Avneet'
print(d1)

{1: {'name': 'Sneha', 'phone': '9569773306'}, 2: {'name': 'Shivang', 'phone': '8115014333'}, 3: {'name': 'Avneet', 'phone': '8115014333'}}

In [125]:
#Adding
d1[4]={'name':'Sita','phone':'7654325622'}
print(d1)

{1: {'name': 'Sneha', 'phone': '9569773306'}, 2: {'name': 'Shivang', 'phone': '8115014333'}, 3: {'name': 'Avneet', 'phone': '8115014333'}, 4: {'name': 'Sita', 'phone': '7654325622'}}

In [126]:
#Deleting 
print(d1)
print('-'*20)

del d1[4]
print(d1)

{1: {'name': 'Sneha', 'phone': '9569773306'}, 2: {'name': 'Shivang', 'phone': '8115014333'}, 3: {'name': 'Avneet', 'phone': '8115014333'}, 4: {'name': 'Sita', 'phone': '7654325622'}}
--------------------
{1: {'name': 'Sneha', 'phone': '9569773306'}, 2: {'name': 'Shivang', 'phone': '8115014333'}, 3: {'name': 'Avneet', 'phone': '8115014333'}}

In [127]:
#going through the data 
print(d1)

{1: {'name': 'Sneha', 'phone': '9569773306'}, 2: {'name': 'Shivang', 'phone': '8115014333'}, 3: {'name': 'Avneet', 'phone': '8115014333'}}

In [128]:
for i in d1.keys():
    print(i,d1[i]['name'],d1[i]['phone'])

1 Sneha 9569773306
2 Shivang 8115014333
3 Avneet 8115014333

In [129]:
#Going a level deeper with marks
d1={1:{'name':'Sneha','phone':'9569773306','marks':{'hin':42,'mth':45,'sci':41}},
    2:{'name':'Shivang','phone':'8115014333','marks':{'hin':45,'mth':42,'sci':40}},
    3:{'name':'Shiva','phone':'8115014333','marks':{'hin':46,'mth':40,'sci':43}}}
print(d1)

{1: {'name': 'Sneha', 'phone': '9569773306', 'marks': {'hin': 42, 'mth': 45, 'sci': 41}}, 2: {'name': 'Shivang', 'phone': '8115014333', 'marks': {'hin': 45, 'mth': 42, 'sci': 40}}, 3: {'name': 'Shiva', 'phone': '8115014333', 'marks': {'hin': 46, 'mth': 40, 'sci': 43}}}

In [132]:
for i in d1.keys():
    print(1,d1[i]['name'],d1[i]['marks']['hin'])

1 Sneha 42
1 Shivang 45
1 Shiva 46

# Dictionary Comprehension

In [134]:
{i:i**2 for i in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [135]:
{i:i**3 for i in range(1,6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [137]:
#Dictionaries with conditions
{i:i**2 for i in range(1,11) if i%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [139]:
#Dictionaries from lists
lst=['Apple','Banana','Grapes']
dct={item:len(item) for item in lst}
print(lst)
print(dct)
dct={len(item):item for item in lst}
print(dct)

['Apple', 'Banana', 'Grapes']
{'Apple': 5, 'Banana': 6, 'Grapes': 6}
{5: 'Apple', 6: 'Grapes'}

In [145]:
#Special keys with Strings 
dct={'num_'+str(i):i for i in range(1,11)}
print(dct)

{'num_1': 1, 'num_2': 2, 'num_3': 3, 'num_4': 4, 'num_5': 5, 'num_6': 6, 'num_7': 7, 'num_8': 8, 'num_9': 9, 'num_10': 10}

In [147]:
#Special keys with Strings 
dct={'num_'+str(i):i for i in range(1,11)}
dct={k:v for k,v in dct.items() if v%3==0}
print(dct)

{'num_3': 3, 'num_6': 6, 'num_9': 9}

In [149]:
#matrix
matrix=[[1,2,3],[4,5,6],[7,8,9]]
final_dct={(i,j): matrix[i][j] for i in range(3) for j in range(3)}
print(final_dct)

{(0, 0): 1, (0, 1): 2, (0, 2): 3, (1, 0): 4, (1, 1): 5, (1, 2): 6, (2, 0): 7, (2, 1): 8, (2, 2): 9}

In [152]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
final_dct={matrix[i][j] : (i,j)for i in range(3) for j in range(3)}
print(final_dct)

{1: (0, 0), 2: (0, 1), 3: (0, 2), 4: (1, 0), 5: (1, 1), 6: (1, 2), 7: (2, 0), 8: (2, 1), 9: (2, 2)}