# Conditional Flow

In [1]:
#If-Else Statement

In [2]:
n=int(input("Enter a number: "))
if(n>5):
    print("n is greater than 5")
else:
    print("n is less than 5")

Enter a number: 20
n is greater than 5

In [3]:
a=int(input("Enter a number:"))
print(True) if a<15 else print(False)

Enter a number:20
False

In [4]:
#if-elif-else Statement

In [8]:
n=int(input("Enter a number:"))
if(n>0):
    print("n is a positive number.")
elif(n==0):
    print("n is zero.")
else:
    print("n is a negative number.")

Enter a number:-47
n is a negative number.

In [9]:
num = 4
if num > 0:
    if num < 10:
    	print("The number is positive and less than 10.")
else:
    print("The number is less than or equal to 0")

The number is positive and less than 10.

In [12]:
# Approach 1 using if-else statement
year = int(input("Enter a year: "))

# Check if it's a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2023
2023 is not a leap year.

Ques1. Write a program to accept percentage from the user and display the grade accoridng to the following 
marks                                grade 
>90                                      A

>80 and <=90                             B

>=60 and <=80                            C

below 60                                 D

In [3]:
per=int(input("Enter your percentage"))
if(per>90):
    print("Grade A")
elif(per>80 and per<=90):
    print("Grade B")
elif(per>=60 and per<=80):
    print("Grade C")
else:
    print("Grade D")

Enter your percentage 89
Grade B

Write a program to accept a number from 1 to 12 and display name of the month and days in that month like 1 for Janurary and number of days31 and so on

In [7]:
num=int(input("Enter a number between 1 to 12:"))
if(num==1):
    print("January")
elif(num==2):
    print("Feburary")
elif(num==3):
    print("March")
elif(num==4):
    print("April")
elif(num==5):
    print("May")
elif(num==6):
    print("June")
elif(num==7):
    print("July")
elif(num==8):
    print("August")
elif(num==9):
    print("September")
elif(num==10):
    print("October")
elif(num==11):
    print("November")
elif(num==12):
    print("December")
else:
    print("Invalid Choice")

Enter a number between 1 to 12:5
May

Accept any city from the user and display momument of that city 
city                                     monument 
Delhi                                    Red Fort
agra                                     Taj Mahal
jaipur                                  Jal Mahal

In [11]:
city=str(input("Enter the name of the city: "))
if(city.lower()=="delhi"):
    print("It's monument is Red Fort")
elif(city.lower()=="agra"):
    print("It's monument is Taj Mahal")
elif(city.lower()=="jaipur"):
    print("It's monument is Jal Mahal")
else:
    print("Entered choice is invalid")

Enter the name of the city: lucknow
Entered choice is invalid

Write a program to check whether a number entred by user is even or odd

In [13]:
num=int(input("Enter a number: "))
if(num%2==0):
    print(num,"is even")
else:
    print(num,"is odd")

Enter a number: 33
33 is odd

Write a program to check whether a number is divisible by 7 or not

In [14]:
num=int(input("Enter a number: "))
if(num%7==0):
    print(num,"is divisible by 7")
else:
    print(num,"is not divisible by 7")

Enter a number: 56
56 is divisible by 7

Write a program to display the last digit of a number

In [15]:
num=int(input("Enter a number"))
ld=num%10
print("last digit of the number is:",ld)

Enter a number344
last digit of the number is: 4

Write a program to display the last digit of a number is divisible by 3 or not

In [21]:
num=int(input("Enter a number: "))
ld=num%10
if(ld%3==0):
    print("Last digit of",num,"is divisible by 3")
else:
    print("Last digit of",num,"is not divisible by 3")

Enter a number:  345
Last digit of 345 is not divisible by 3

Check whether a number entered is three digit or not

In [25]:
num=input("Enter the number: ")
l=len(num)
if(l==3):
    print("number entered is three digit")
else:
    print("number entered is not three digit")

Enter the number: 234
number entered is three digit

Accept the age of 4 people and display the youngest one

In [31]:
a=int(input("Enter the age of A: "))
b=int(input("Enter the age of B: "))
c=int(input("Enter the age of C: "))
d=int(input("Enter the age of D: "))
if(a<b and a<c and a<d):
    print("A is the youngest one.")
elif(b<c and b<d):
    print("B is the youngest one.")
elif(c<d):
    print("C is the youngest one.")
else:
    print("D is the youngest one.")

Enter the age of A: 23
Enter the age of B: 12
Enter the age of C: 5
Enter the age of D: 56
C is the youngest one.

For Loop

In [37]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [47]:
for i in range(1,11):
    print(i,'*', n,'=', i*n)

1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

In [50]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [51]:
for i in range(4,41,4):
    print(i)

4
8
12
16
20
24
28
32
36
40

In [2]:
n=int(input("Enter a number: "))
for i in  range(n,(n*10)+1,n):
    print(i)

Enter a number: 2
2
4
6
8
10
12
14
16
18
20

In [59]:
for i in range(1,7):
    for j in range(1,7):
        print(i,j)
    print("-"*10)

1 1
1 2
1 3
1 4
1 5
1 6
----------
2 1
2 2
2 3
2 4
2 5
2 6
----------
3 1
3 2
3 3
3 4
3 5
3 6
----------
4 1
4 2
4 3
4 4
4 5
4 6
----------
5 1
5 2
5 3
5 4
5 5
5 6
----------
6 1
6 2
6 3
6 4
6 5
6 6
----------

In [61]:
for i in range(1,7):
    for j in range(1,7):
        for k in range(1,7):
            print(i,j,k)
    print("--------")

1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
--------
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
--------
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
3 6 1
3 6 2
3 6 3
3 6 4
3 6 5
3 6 6
--------
4 1 1
4 1 2
4 1 3
4 1 4
4 1 5
4 1 6
4 2 1
4 2 2
4 2 3
4 2 4
4 2 5
4 2 6
4 3 1
4 3 2
4 3 3
4 3 4
4 3 5
4 3 6
4 4 1
4 4 2
4 4 3
4 4 4
4 4 5
4 4 6
4 5 1
4 5 2
4 5 3
4 5 4
4 5 5
4 5 6
4 6 1
4 6 2
4 6 3
4 6 4
4 6 5
4 6 6
--------
5 1 1
5 1 2
5 1 3
5 1 4
5 1 5
5 1 6
5 2 1
5 2 2
5 2 3
5 2 4
5 2 5
5 2 6
5 3 1
5 3 2
5 3 3
5 3 4
5 3 5
5 3 6
5 4 1
5 4 2
5 4 3
5 4 4
5 4 5
5 4 6
5 5 1
5 5 2
5 5 3
5 5 4
5 5 5
5 5 6
5 6 1
5 6 2
5 6 3
5 6 4
5 6 5
5 6 6
--------
6 1 1
6 1 2
6 1 3
6 1 4
6 1 5
6 1 6
6 2 1
6 2 2
6 2 3
6 2 4
6 2 5
6 2 6
6 3 1
6 3 2
6 3 3
6 3 4
6 3 5
6 3 6
6 4 1
6 4 2
6 4 3
6 4 4
6 4 5
6 4 6
6 5 1
6 5 2
6 5 3
6 5 4
6 5 5
6 5 6
6 6 1
6 6 2
6 6 3
6 6 4
6 6 5
6 6 6
--------

In [64]:
number=0
for i in range(1,7):
    for j in range(1,7):
        if(i+j==5):
            number=number+1
            print(i,j)
            
print(number)
print(round((number/36)*100,2))

1 4
2 3
3 2
4 1
4
11.11

In [68]:
for n in range(1,13):
    number=0
    for i in range(1,7):
        for j in range(1,7):
            if(i+j==n):
                number=number+1
                
print(n, round((number/36)*100,2))

12 2.78

In [75]:
l = ["Data", "Science", "Python"]
for i in l:
    print(i)

Data
Science
Python

In [76]:
print("Dictionary Iterations")
d=dict()

d['key1']="val1"
d['key2']=345
for i in d:
    print(i,d[i])

Dictionary Iterations
key1 val1
key2 345

In [77]:
word="Sneha"
for letter in word:
    print(letter)

S
n
e
h
a

In [78]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [7]:
for i in range(3):
    for j in range(2):
        print(f"({i},{j})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)

In [81]:
list1=["Data-Science", "Power BI", "Python"]

for index, subject in enumerate(list1):
    print(f"Index: {index}, subj: {subject}")

Index: 0, subj: Data-Science
Index: 1, subj: Power BI
Index: 2, subj: Python

In [82]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [83]:
def is_armstrong_number(number):
    num_str=str(number)
    num_digits=len(num_str)
    sum_of_digits=sum(int(digit)**num_digits for digit in num_str)
    return sum_of_digits==number

#User input
num=int(input("Enter a number: "))

#check and display the result 
if is_armstrong_number(num):
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an armstrong number.")

Enter a number: 37
37 is not an armstrong number.

While loop

In [1]:
n=30
i=1
s=1
while(n>s):
    print(s)
    i=i+1
    s=s+i

1
3
6
10
15
21
28

In [2]:
#reverse a number 
counter= 2
while counter <= 5:
    print(counter, end=' ')
    counter += 2

2 4

In [3]:
outer_counter = 1
while outer_counter <= 3:
    inner_counter = 1
    while inner_counter <= 2:
        print(f"({outer_counter}, {inner_counter})", end=' ')
        inner_counter += 1
    outer_counter += 1

(1, 1) (1, 2) (2, 1) (2, 2) (3, 1) (3, 2)

In [4]:
counter = 1
while counter <= 5:
    if counter == 3:
        counter += 1
        continue
    print(counter, end=' ')
    counter += 1

1 2 4 5