# list

List is the collection of data that we can put together 
It can be represented by [Square bracket]

In [1]:
lis=[1,2,3,4,5,6]
print(lis)
lis1=[1.2,2.3,4.5]
print(lis1)
lis2=['a', 'b', 'c']
print(lis2)
lis3=[True, False, True, True]
print(lis3)
lis4=[1,2,3.4,'a','b',True,2]
print(lis4)

[1, 2, 3, 4, 5, 6]
[1.2, 2.3, 4.5]
['a', 'b', 'c']
[True, False, True, True]
[1, 2, 3.4, 'a', 'b', True, 2]

In [2]:
lst=['Sneha','Priynashu','Saloni','Shubham']
print(lst)

#Access the elements through indexing
print(lst[0])
print(lst[-3])

#Modify the values
lst[2]='Sakshi'
print(lst)

#Slicing the list 
print(lst[0:2])
print(lst[::-1]) #Reverse the list

['Sneha', 'Priynashu', 'Saloni', 'Shubham']
Sneha
Priynashu
['Sneha', 'Priynashu', 'Sakshi', 'Shubham']
['Sneha', 'Priynashu']
['Shubham', 'Sakshi', 'Priynashu', 'Sneha']

In [3]:
#Appending 
lst.append('Tripti')
print(lst)

['Sneha', 'Priynashu', 'Sakshi', 'Shubham', 'Tripti']

In [4]:
#Length of the list
print(lst)
print(len(lst))

['Sneha', 'Priynashu', 'Sakshi', 'Shubham', 'Tripti']
5

In [7]:
#Sorting 
lis=[1,2,3,4,5,6,7,8,9,0]
print(lis)
print(sorted(lis))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#Finding the element 
ls=['Sneha','Saloni',1,2,3]
print(ls.index(3))

4

In [11]:
#Counting
l1=[1,1,1,2,3,4,5,6,6]
print(l1.count(1))

3

In [17]:
#Extending 
ls=['Sneha','Saloni',1,2,3]
ls.extend(['Priyanshu','Ram'])
print(ls)

['Sneha', 'Saloni', 1, 2, 3, 'Priyanshu', 'Ram']

In [19]:
#Finding maximum and minimum
lis=[1,2,3,4,5,6,7,8,9,0]
print(lis)
print(min(lis))
print(max(lis))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
0
9

In [20]:
#Iterating the elements of list
lis=[1,2,3,4,5,6,7,8,9,0]
print(lis)
for i in lis:
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
1
2
3
4
5
6
7
8
9
0

In [21]:
#2nd way (using indexing)
lis=[1,2,3,4,5,6,7,8,9,0]
print(lis)
for i in range(len(lis)):
    print(lis[i])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
1
2
3
4
5
6
7
8
9
0

In [27]:
#Iterating the elements of the list in the reverse
lis=[1,2,3,4,5,6,7,8,9,0]
print(lis)
for i in range(len(lis)-1,-1,-1):
    print(lis[i])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
0
9
8
7
6
5
4
3
2
1

# Multi-Dimensional List

In [46]:
lst=[['Maths','English','Hindi'],[20,30,40]]
print(lst)
lst[1]=['Sneha',20]
print(lst)

[['Maths', 'English', 'Hindi'], [20, 30, 40]]
[['Maths', 'English', 'Hindi'], ['Sneha', 20]]

In [47]:
lis=[1,2,3,4,['Sneha',1000]]
print(lis[4])
print(lis[:])

['Sneha', 1000]
[1, 2, 3, 4, ['Sneha', 1000]]

In [48]:
lis.append([2,3,4])
print(lis)

[1, 2, 3, 4, ['Sneha', 1000], [2, 3, 4]]

In [49]:
lis.remove([2,3,4])
print(lis)

[1, 2, 3, 4, ['Sneha', 1000]]

In [50]:
del lis[0]
print(lis)

[2, 3, 4, ['Sneha', 1000]]

In [75]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
print('List= ',l1)
print('-'*20)
print('Length= ',len(l1))
print('-'*20)
print('Reverse of the list= ',l1[::-1])
print('-'*20)
l1.append([10,11,12])
print('Appending the list= ',l1)
print('-'*20)
del l1[3]
print('Deleting= ',l1)
print('-'*20)
print(l1)
print('-'*20)
for i in l1:
    for j in i:
        print('Accessing all the elements= ',j)

List=  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
--------------------
Length=  3
--------------------
Reverse of the list=  [[7, 8, 9], [4, 5, 6], [1, 2, 3]]
--------------------
Appending the list=  [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
--------------------
Deleting=  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
--------------------
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
--------------------
Accessing all the elements=  1
Accessing all the elements=  2
Accessing all the elements=  3
Accessing all the elements=  4
Accessing all the elements=  5
Accessing all the elements=  6
Accessing all the elements=  7
Accessing all the elements=  8
Accessing all the elements=  9

# List Comprehension

In [80]:
l2=[1,2,3,4,5,6]
print(l2)
l2= [i**2 for i in l2]
print(l2)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

In [6]:
#Finding first ten even numbers
print([i for i in range (21) if i%2==0])
print('--'*10)
print([i**2 for i in range(21) if i%2==0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
--------------------
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [17]:
#Multi-Dimensional lists
print([[j for j in range(5)] for i in range(3)])

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [18]:
l3=[[1,2,3],[4,5,6],[7,8,9]]
print([j for i in l3 for j in i])

[1, 2, 3, 4, 5, 6, 7, 8, 9]